body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    height: 100vh;
    width: 3px;
    background-color: red;
    position: absolute;
    left: 200px;
    
}
.tact {
    height: 10px;
    width: 200px;
    background-color: blue;
    position: relative;
    right: 500px;
    top: 100px;
}
.blur {
    margin-left: -199px ;
    height: 7px;
    width: 20px;
    position: relative;
    animation-name: hi;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    background-color: rgb(255, 223, 117);
    border-radius: 20px;
}
@keyframes hi {
    0% { left: 0px;top: 0px;}
    100% { left: 600px; top: 0px; }
}

.character {
    position: relative;
    bottom: 2.7px;
    left: -150px;
  width: 200px;
  height: auto;
  transform: scaleX(-1);
}