
body {
  background-color:rgba(40, 44, 51, 1);
  
}
.character {
    position: absolute;
    top: 100px;
    left: 160px;
  width: 200px;
  height: auto;
}
.bullet {
  margin-top: 155px;
  margin-left: 320px;
    height: 7px;
    width: 100px;
    position: absolute;
   
    animation-name: hi;
    animation-duration: 0.27s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
}
@keyframes hi {
    0% { left: 0px;top: 0px;}
    100% { left: 850px; top: 0px; }
}
.body {
  background-color:rgba(40, 44, 51, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 5000px;
  
  
}
.media{
  position: absolute;
  left: 55px;
  top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 30px;
 
}
.medias{
  height: 160px;
  width: 50px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 gap: 10px;
  border: rgba(0, 212, 255, 1) solid 3px;
  border-radius: 100px;
  padding: 10px;
}
.Github{
  height: 45px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gitimage{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg4kQk0WEYxTSKFstX9FDWT6sFUMZUr3sB_Q&s);
  height: 50px;
  width: 50px;
  background-position: 91px;
  background-size: 130px;
  border-radius: 100%;
}
.Discord{
    height: 55px;
  width: 50px;
   display: flex;
  justify-content: center;
  align-items: center;
}
.Disimage{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3MOqTYgcZ9zh_gCR0Q4qtz7YXa_L7QEIXHBZxQDrZAg&s);
  height: 50px;
  width: 50px;
  background-position: 100px;
  background-size: 300%;
  border-radius: 100%;
}
.ig {
    height: 55px;
  width: 50px;
   display: flex;
  justify-content: center;
  align-items: center;
}
.igimage {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/CIS-A2K_Instagram_Icon_%28Black%29.svg/2048px-CIS-A2K_Instagram_Icon_%28Black%29.svg.png);
  height: 50px;
  width: 50px;
  background-position: 100px;
  background-size: 100%;
  border-radius: 100%;
}
.line {
  height: 250px;
  width: 3.2px;

background: #020024;
background: linear-gradient(180deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.line2 {
  position: absolute;
  left: 69px;
  top: 390px;
  height: 5000px;
  width: 3.2px; 
background: #020024;
background: linear-gradient(180deg,  rgba(0, 212, 255, 1) 0%,rgba(9, 9, 121, 1) 55%, rgba(2, 0, 36, 1) 100%);

}
.header {
  width: 75%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', 'sans-serif';
}

.home {
  color: rgba(171, 178, 191, 1);
  display: flex;
  align-items: center;
justify-content: space-evenly;
gap: 20px;
}
.blur {
  margin-top: 100px;
height: 460px;
width: 71.5%;
z-index: 0.1;
display: flex;
justify-content: center;
align-items: center;
background: #fff;
background: linear-gradient(285deg,#7728ff,#01081e,#5fb7ff);

}

.introduction {
  width: 99.2%;
  height: 98.5%;
  display: flex;
  align-items: center;
  z-index: 0.2;
  background-color: rgba(40, 44, 51, 1);
}
.intro {
display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 30px;
  height: 227px;
  width: 537px;
  margin-top: -50px;
  margin-left: 30px;
}
.intro1 {
  width: 537px;
  height: 84px;
  color: white;
}
.intro2 {
width: 463px;
height: 50px;
color:rgba(171, 178, 191, 1) ;
}
.intro3 {
height: 37px;
width: 148px;
color: white;
border-radius: 20px;
border: 6px double rgba(93, 0, 255, 0.4) ;
display: flex;
justify-content: center;
align-items: center;
}
.image {
  background-image: url(https://www.shutterstock.com/image-vector/portrait-cat-glasses-vector-art-600nw-2284410025.jpg);
  height: 400px;
  width: 400px;
  background-size: cover;
  background-position: auto;
border-radius: 100%;

}
/* Neon glow for spans inside .intro1 */
.intro1 span {
  color: #772aff;
  text-shadow:
    0 0 6px rgba(119,42,255,0.95),
    0 0 20px rgba(119,42,255,0.7),
    0 0 30px rgba(119,42,255,0.5);
  transition: text-shadow 0.2s ease-in-out, color 0.2s;
  animation: neon-pulse 2.5s ease-in-out infinite;
}

@keyframes neon-pulse {
  0% {
    text-shadow:
      0 0 4px rgba(119,42,255,0.8),
      0 0 12px rgba(119,42,255,0.6),
      0 0 24px rgba(119,42,255,0.4);
  }
  50% {
    text-shadow:
      0 0 8px rgba(119,42,255,1),
      0 0 24px rgba(119,42,255,0.95),
      0 0 40px rgba(119,42,255,0.7);
  }
  100% {
    text-shadow:
      0 0 4px rgba(119,42,255,0.8),
      0 0 12px rgba(119,42,255,0.6),
      0 0 24px rgba(119,42,255,0.4);
  }
}
.shapes {
  position: absolute;
  top: 517px;
  left: 1130px;
  z-index: 1;
}
.square {
  width: 80px;
  height: 80px;
  border: 2px  solid  rgba(119,42,255,0.8);/* purple line */
  position: absolute;
}

.square.overlap {
  top: 40px;
  right: -20px;
  border-color:  rgba(119,42,255,1);;
  opacity: 0.7;
}
.shapes1 {
  position: absolute;
  top: 430px;
  left: 1125px;
  z-index: 1;
}
.square1 {
  width: 130px;
  position: absolute;
}

.square.overlap1 {
  top: 40px;
  left: 40px;
  border-color:  rgba(119,42,255,1);;
  opacity: 0.7;
}
.shapes2 {
  position: absolute;
  top: 535px;
  left: 1135px;
  z-index: 1;
}
.square2 {
  width: 130px;
  position: absolute;
}

.square.overlap2 {
  top: 40px;
  left: 40px;
  border-color:  rgba(119,42,255,1);;
  opacity: 0.7;
}
.shapes3 {
  position: absolute;
  top: 250px;
  left: 770px;
  z-index: 1;
}
.square3 {
  width: 80px;
  height: 100px;
  border: 2px  solid  rgba(119,42,255,0.8);/* purple line */
  position: absolute;
}

.square.overlap3 {
  right: -40px;
  top: 40px;
  border-color:  rgba(119,42,255,1);;
  height: 100px;
  opacity: 0.7;
}
.quoteborder {
margin-top: 130px;  
  height: 100px;
  width: 720px;
 background: #d900ff;
background: radial-gradient(circle,rgba(217, 0, 255, 1) 0%, rgba(13, 9, 121, 1) 38%, rgba(255, 0, 195, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote {
  height: 95%;
  width: 99.3%;
  display: flex;
  justify-content: center;
  align-items: center;
font-size:larger;
color: white;
background-color: rgba(40, 44, 51, 1);
}
.symbol1{
  height: 48px;
  width: 47px;
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 2.4cm;
  position: absolute;
  top: 760px;
  left: 420px;
  color: white;
background-color: rgba(40, 44, 51, 1);
}
.symbol2 {
   height: 40px;
  width: 47px;
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 2cm;
  position: absolute;
  top: 860px;
  left: 1040px;
  color: white;
  background-color: rgba(40, 44, 51, 1);
  z-index: 2;
}
.quotewriter {
  position: absolute;
  top: 885.5px;
  left: 945px;
  height: 74px;
  width: 185px;
  bottom: 200px;
  background: #142282;
  background: linear-gradient(90deg,rgba(20, 34, 130, 1) 0%, rgba(230, 39, 207, 1) 52%, rgba(255, 0, 195, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;

}
.writer{
  height: 93%;
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 44, 51, 1);
  font-size: xx-large;
  color:white;
  gap: 10px;
}
.projectsborder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  height: 550px;
  width: 70%;
  background: #c206af;
  background: linear-gradient(305deg,rgba(194, 6, 175, 1) 0%, rgba(110, 9, 121, 1) 22%, rgba(0, 212, 255, 1) 100%);
  z-index: 1;
}
.Projectsmain {
  height: 98.5%;
  width: 99%;
  background-color: rgba(40, 44, 51, 1);  
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.projectshead {
    margin-top: -20px;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.Projects {
  margin-left: 30px;
  height: 100%;
  width: 150px;
  background-color: rgba(40, 44, 51, 1);  
  display: flex;
  justify-content: center;
  align-items: center;
}
.Viewall {
    margin-right: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgba(40, 44, 51, 1);  
    height: 100%;
    width: 250px;
}
.mainprojects {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  
}

.projects1 {
  height: 370px;
  width: 30%;
  background-color: #fff;

}
.projects2 {
  height: 450px;
  width: 30%;
  background-color: #fff;
}
.projects3 {
  height: 420px;
  width: 30%;
  background-color: #fff;
}
.cover{
  height: 300px;
  width: 100px;
  background-color: rgba(40, 44, 51, 1);
  margin-top: -300px;
  margin-left: -1100px;
  z-index: 2;
}
.cover1{
  height: 350px;
  width: 100px;
  background-color: rgba(40, 44, 51, 1);
  margin-top: -550px;
  margin-left: 1100px;
  z-index: 2;
}
.cover2{
  height: 50px;
  width: 400px;
  background-color: rgba(40, 44, 51, 1);
  margin-top: 180px;
  margin-left: -900px;
  z-index: 2;
}