body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    height: 60px;
    width: 170px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;

}
.send {
    color: aliceblue;
    height: 100%;
}
.button:hover {
    width: 60px ;  
}

.button:hover .send {
    height: 25px;
    width:25px;
    border: 5px solid rgb(255, 255, 255);
    border-top: 5px solid rgb(0, 0, 255);
    border-radius: 100%;
    animation-name: ergeh;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}
@keyframes ergeh {
    0%{transform: rotate(0deg);top: 0px; left: 0px;}
    100%{transform: rotate(360deg);top: 0px; left: 0px;}
}
.send:hover .useg {
 display: none;
}